.title {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.donate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .donate {
    display: block;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .donate {
    display: block;
    margin-bottom: 50px;
  }
}
.donate_title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .donate_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .donate_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
    margin-bottom: 10px;
  }
}
.donate_text {
  width: 955px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.72px;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .donate_text {
    font-size: 14px;
    line-height: 18px;
    width: 553px;
  }
}
@media (max-width: 767px) {
  .donate_text {
    font-size: 14px;
    width: 90vw;
    line-height: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  .fund {
    display: flex;
    justify-content: center;
  }
}
.fund_item {
  align-items: flex-start;
  text-align: justify;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .fund_item {
    padding: 25px;
    width: 568px;
  }
}
@media (max-width: 767px) {
  .fund_item {
    padding: 0;
    background-color: #fff;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1239px) {
  .fund_img {
    width: 88px;
    height: 85px;
  }
}
@media (max-width: 767px) {
  .fund_img {
    width: 88.867px;
    height: 85.147px;
  }
}
.fund_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 347px;
  height: 300px;
  background-color: #fff;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .fund_box {
    width: 173px;
    height: 173px;
  }
}
@media (max-width: 767px) {
  .fund_box {
    width: 143.427px;
    height: 124px;
    margin-right: 15px;
  }
}

.found {
  width: 414px;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .found {
    width: 288px;
  }
}
@media (max-width: 767px) {
  .found {
    width: 214px;
  }
}
.found_title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .found_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
  }
}
@media (max-width: 767px) {
  .found_title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
}
.found_list {
  margin-bottom: 130px;
  list-style-type: circle;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .found_list {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .found_list {
    margin-bottom: 65px;
  }
}
.found_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.72px;
  margin-bottom: 10px;
  margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .found_text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .found_text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 5px;
  }
}
.found_link {
  justify-content: center;
  display: flex;
  width: 100%;
  border-radius: 30px;
  background-color: #000;
  padding: 20px 100px;
  color: white;
}
@media (min-width: 768px) and (max-width: 1239px) {
  .found_link {
    font-size: 12.265px;
    line-height: 15.61px;
    letter-spacing: -0.491px;
    text-transform: capitalize;
    padding: 11px 55px;
  }
}
@media (max-width: 767px) {
  .found_link {
    width: 85vw;
    padding: 16px 5px;
    margin-left: -37vw;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  .qr {
    display: none;
  }
}
@media (max-width: 767px) {
  .qr {
    display: none;
  }
}/*# sourceMappingURL=Donate.module.css.map */