$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.list {
  font-size: 10px;
  display: flex;
  @media (max-width: $small-screen) {
    display: none;
  }
  > li {
    margin-right: 80px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      display: flex;
      align-items: center;
      margin-right: 0;
    }
  }
  > li:last-child {
    margin-right: 0;
  }
}
.sponsor {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0 150px;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    padding: 75px 0 100px;
  }
  @media (max-width: $small-screen) {
    padding: 50px 0 100px;
    width: 80vw;
  }
}
.spon {
  margin-bottom: 75px;
  color: black;
  font-size: 50px;

  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  text-transform: uppercase;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 28px;
    margin-bottom: 50px;
    line-height: 32px; /* 114.286% */
    letter-spacing: -1.12px;
  }
  @media (max-width: $small-screen) {
    font-size: 25px;

    letter-spacing: -1px;
    text-transform: uppercase;
  }
}
.img {
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 70%;
    height: 70%;
  }
  @media (max-width: $small-screen) {
    width: 70%;
    height: 70%;
  }
}
