@import '../../styles//color';
@import '../../styles/mixin';

$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.mainFoto {
  color: getColor('white-for-text');

  width: 100%;
  height: 777px;
  background: getColor('primary');
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../../assets/imgAbout/Image_About.webp');
  @include backFoto;

  display: flex;
  justify-content: center;
  align-items: center;

  > h1 {
    text-align: center;
    font-size: 100px;

    font-weight: 600;
    line-height: normal;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 52px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -2.08px;
    }

    @media (max-width: $small-screen) {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px; /* 111.111% */
      letter-spacing: -1.44px;
    }
  }
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    height: 600px;
  }

  @media (max-width: $small-screen) {
    height: 399.722px;
  }
}

.section {
  &__list {
    justify-content: space-between;
    display: flex;
    margin-bottom: 100px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      margin-left: -100px;
      margin-right: -100px;
    }
    @media (max-width: $small-screen) {
      display: none;
    }
  }
  &__caken {
    color: #000;

    display: flex;
    justify-content: center;
    font-size: 50px;

    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    text-transform: uppercase;

    margin: 0 0 100px;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -1.44px;
    }

    @media (max-width: $small-screen) {
      text-align: center;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -1.12px;

      width: 296px;

      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__img {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      width: 100%;
      height: 356px;
    }
  }
}

.team {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
  &__name {
    font-size: 50px;
    margin-right: 79px;
    line-height: 58px;
    letter-spacing: -2px;
    text-transform: uppercase;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -1.44px;

      margin-bottom: 20px;
    }
    @media (max-width: $small-screen) {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -0.88px;

      margin-bottom: 10px;
    }
    @media (max-width: $small-screen) {
      margin-top: 90px;
    }
  }
  &__text {
    width: 955px;
    height: 68px;

    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.72px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 18px;

      width: 100%;
      height: auto;
    }
    @media (max-width: $small-screen) {
      font-size: 18px;

      width: 100%;
      height: auto;
    }
  }
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
  }
  @media (max-width: $small-screen) {
    display: block;
    margin-bottom: 50px;
  }
}

.box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
    margin-bottom: 30px;
  }
  @media (max-width: $small-screen) {
    display: block;
    margin-bottom: 30px;
  }

  &__foto {
    margin-right: 20px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      width: 600px;
      height: 400px;
      margin-bottom: 80px;
    }
    @media (max-width: $small-screen) {
      width: 325px;
      height: 227px;
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  &__box {
    margin-top: auto;
    margin-bottom: auto;
    width: 613px;
    height: 296px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      height: auto;
      width: 100%;
    }
    @media (max-width: $small-screen) {
      height: auto;
      width: 100%;

      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1.44px;
    text-transform: uppercase;

    margin-bottom: 50px;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 25px;
      line-height: 32px;
      letter-spacing: -1px;

      margin-bottom: 10px;
    }
    @media (max-width: $small-screen) {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.96px;
      margin-bottom: 10px;
    }
  }
  &__text:last-child {
    margin-bottom: 0;
  }
}

.minibox {
  display: flex;

  width: 955px;

  margin-bottom: 100px;

  &__text {
    white-space: pre-line;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.72px;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 18px;
    }
    @media (max-width: $small-screen) {
      font-size: 14px;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.56px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 100%;
    margin-bottom: 50px;
  }
  @media (max-width: $small-screen) {
    width: 100%;
    margin-bottom: 70px;
  }
}

.list {
  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
  }
  @media (max-width: $small-screen) {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__img {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      display: block;
      width: 568px;
      height: 568px;
    }
  }
}
