$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.donate {
  width: 100%;
  background: white;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
  > a {
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-right: 30px;
    text-decoration-line: underline;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 20px;

      padding: 8px 0;
      font-weight: 400;
      line-height: 23.2px;
      font-variant: small-caps;
      letter-spacing: -0.88px;
      margin-right: 10px;
      margin-left: 10px;
      width: 500px;
      padding: 10px 0;
    }
    @media (max-width: $small-screen) {
      font-size: 13px;
      padding: 20px 0;
      font-weight: 400;

      line-height: 35px;
      font-variant: small-caps;
      letter-spacing: 2px;
      margin-right: 13px;
      margin-left: 10px;
      width: 300px;
      padding: 2.5px 0;
    }
  }

  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
.img {
  @media (max-width: $small-screen) {
    margin-right: 10px;
  }
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    margin-right: 10px;
  }
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 40px;
    height: 40px;
  }
}
