$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.donate {
  width: 100%;
  background: black;

  > p {
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-right: 30px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 22px;
      padding: 8px 0;
      font-weight: 400;
      line-height: 23.2px; /* 105.455% */
      font-variant: small-caps;
      letter-spacing: -0.88px;
      margin-right: 10px;
    }
    @media (max-width: $small-screen) {
      font-size: 20px;
      padding: 20px 0;
      font-weight: 400;
      line-height: 35px; /* 140% */
      font-variant: small-caps;
      letter-spacing: -1px;
      margin-right: 10px;
    }
  }

  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
.img {
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 40px;
    height: 40px;
  }
}
