$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.footer {
  padding: 40px 15px;

  background: black;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    text-align: center;
    padding: 50px 15px;
  }
  @media (max-width: $small-screen) {
    text-align: center;
    padding: 50px 15px;
  }

  &_box {
    align-items: center;
    display: flex;
    width: 1240px;

    margin: 0 auto;
    padding: 0 15px 0;
    justify-content: space-between;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      display: block;
      align-items: center;
      width: auto;
    }
    @media (max-width: $small-screen) {
      display: block;
      align-items: center;
      width: auto;
    }
  }
  &_img {
    margin-bottom: 30px;
    @media (max-width: $small-screen) {
      margin-bottom: 60px;
    }
  }
}

.box {
  width: 420px;
  display: flex;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  @media (max-width: $small-screen) {
    display: block;
    width: 100%;
    margin-bottom: 100px;
  }
}

.link {
  color: white;
  font-size: 20px;

  line-height: 24px;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  margin-right: 25px;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 14px;

    line-height: 18px;
    letter-spacing: -0.56px;
  }
  @media (max-width: $small-screen) {
    font-size: 14px;
    margin-right: 12px;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: capitalize;
  }
}
.link:last-child {
  margin: 0;
}

.caken {
  color: white;
  font-size: 20px;

  line-height: 24px;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    margin-bottom: 30px;
  }
}

// .develop {
//   color: white;
//   display: grid;
//   font-size: 16px;
//   text-align: end;
//   font-weight: 400;
//   line-height: 22px;
//   letter-spacing: -0.72px;
//   text-decoration-line: underline;
//   > a {
//     margin-bottom: 10px;
//   }
//   > a:last-child {
//     margin-bottom: 0;
//   }
//   @media (min-width: $medium-screen) and (max-width: $large-screen) {
//     font-size: 12px;
//     text-align: center;
//     line-height: 14px;
//     letter-spacing: -0.48px;
//   }
//   @media (max-width: $small-screen) {
//     text-align: center;
//   }
// }
.develop {
  width: 420px;
  color: white;
  margin: 0;
  text-align: end;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    width: 100%;
    letter-spacing: -0.48px;
  }
  @media (max-width: $small-screen) {
    text-align: center;
    width: 100%;
  }
  &_conact {
    margin-top: 140px;
    margin-bottom: 68px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      margin-top: 0;
    }
    @media (max-width: $small-screen) {
      margin-top: 0;
    }
    &_text {
      font-size: 24px;

      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.96px;
      margin-bottom: 10px;
    }
  }
  &_mail {
    font-size: 18px;

    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
  &_span {
    margin-left: 15px;
    font-size: 18px;

    font-weight: 800;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
}
.developers {
  display: grid;
  font-size: 14px;

  justify-items: end;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.48px;

  > a {
    text-decoration-line: underline;
    margin-bottom: 10px;
  }
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 15px;
    justify-items: center;
    line-height: 14px;

    letter-spacing: -0.48px;
  }
  @media (max-width: $small-screen) {
    font-size: 18px;
    justify-items: center;
  }
}
