$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.list {
  margin-top: 40px;
  display: flex;

  @media (max-width: $small-screen) {
    margin-top: 50px;
    justify-content: center;
  }
  > li {
    margin-right: 20px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      margin-right: 10px;
    }
  }
}
