@import '../../../styles/color';
@import '../../../styles/mixin';
$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.conception {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
  }

  @media (max-width: $small-screen) {
    display: block;
    margin-bottom: 50px;
  }

  &__text {
    width: 1166px;
    white-space: pre-line;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.44px;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      width: 75vw;
    }

    @media (max-width: $small-screen) {
      width: 85vw;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.56px;
    }
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    display: block;
  }

  @media (max-width: $small-screen) {
    display: none;
  }

  > li {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      margin-bottom: 20px;
    }

    @media (max-width: $small-screen) {
      margin-bottom: 20px;
    }
  }
  > li:last-child {
    margin: 0;
  }
}

.title {
  white-space: pre-line;

  // width: 1100px;
  margin-bottom: 100px;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -1px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: $small-screen) {
    width: 100%;
    font-size: 18px;
    margin-top: 50px;
    line-height: 22px;
    letter-spacing: -0.72px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.name {
  font-size: 50px;

  font-weight: 700;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 50px;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: -1.12px;
    text-align: center;
  }

  @media (max-width: $small-screen) {
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 20px;
    letter-spacing: -1.12px;
  }
}
.box {
  text-align: center;
  @media (max-width: $small-screen) {
    text-align: start;
  }
}

// .img {
//   @media (min-width: $medium-screen) and (max-width: $large-screen) {
//     width: 591px;
//     height: 600px;
//   }

//   @media (max-width: $small-screen) {
//     width: 90vw;
//     height: 422px;
//   }
// }
.img {
  width: 100%;

  @media (max-width: $small-screen) {
    width: 300px;
    height: 222px;
  }
}
.imgbox {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
