$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.animation {
  background-color: #fefefe;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1111;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeOutText 1.5s linear forwards;
}
.img {
  @media (max-width: $small-screen) {
    width: 210px;
    height: 75px;
  }
}
@keyframes fadeOutText {
  from {
    opacity: 1; /* Початкова прозорість тексту */
  }
  to {
    z-index: -22;
    opacity: 0; /* Кінцева прозорість тексту */
  }
}
.zzz {
  text-align: center;
}
