$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.section {
  width: 1240px;
  margin: 0 auto;
  padding: 150px 15px 200px;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    width: 100vw;
    padding: 130px 100px;
  }

  @media (max-width: $small-screen) {
    width: 98vw;
    padding: 140px 22px 100px;
  }
}
