@import '../../../styles/color';
@import '../../../styles/mixin';

$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.box {
  display: flex;

  justify-content: flex-end;
}

.support {
  z-index: 32;
  margin-top: 41px;
  position: absolute;
  display: flex;
  margin-right: 60px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    margin-top: 37px;
  }
  @media (max-width: $small-screen) {
    margin-top: 30px;
  }

  &__donate {
    font-size: 22px;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.88px;
    text-transform: capitalize;

    color: getColor('white-for-text');
    background-color: getColor('primary');
    border-radius: 30px;

    width: 270px;
    padding: 10px 20px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      padding: 5px 0;
      font-size: 14px;

      width: 180px;
    }

    @media (max-width: $small-screen) {
      display: none;
    }
  }

  &__ukraine {
    color: getColor('primary');

    padding: 10px 30px;
    margin-right: 30px;
    width: 244px;

    border-radius: 30px;
    border: 1px solid #000;
    text-align: center;

    font-size: 22px;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.88px;
    text-transform: capitalize;

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
      font-size: 14px;

      width: 150px;
      padding: 5px 0;
      margin-right: 10px;
    }
    @media (max-width: $small-screen) {
      display: none;
    }
  }
}

.lang {
  z-index: 110;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 14px;
    margin-left: 20px;
  }
  @media (max-width: $small-screen) {
    margin-top: 30px;
    margin-left: 0;
    position: absolute;
  }
}
