@import '../../styles//mixin';

$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.name {
  display: flex;
  justify-content: center;

  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;

  margin-bottom: 45px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
  }
  @media (max-width: $small-screen) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.44px;
  }
}
.category {
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: url('../../assets/imgProjects/film.webp');
  @include backFoto;

  display: flex;
  justify-content: center;

  @media (min-width: 901px) and (max-width: 1237px) {
    height: 504px;
  }
  @media (min-width: $medium-screen) and (max-width: 901px) {
    margin-left: -100px;
    width: 100vw;
    height: 414px;
  }
  @media (max-width: $small-screen) {
    height: 205px;
    width: 100vw;
    margin-left: -22px;
  }
  &_two {
    background-size: cover;
    background-position: 1% 10%;
    background-image: url('../../assets/imgProjects/zavtra.webp');
    @media (min-width: $medium-screen) and (max-width: 980px) {
      background-position: 1% 100%;
    }
    @media (max-width: $small-screen) {
      background-position: 1% 93%;
    }
  }
  &_three {
    background-size: cover;
    background-position: 1% 10%;
    background-image: url('../../assets/imgProjects/borderwar.webp');
    // @media (min-width: $medium-screen) and (max-width: 980px) {
    //   background-size: cover;
    //   background-position: 50% 50%;
    // }
    // @media (max-width: $small-screen) {
    //   height: 404px;
    // }
  }
  &_mind {
    background-image: url('../../assets/imgProjects/mind.webp');
  }
  &_women {
    background-image: url('../../assets/imgProjects/women.webp');
  }
}
