.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 13px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  transform-origin: 0%;
  z-index: 100;
  color: aliceblue;
}
