.title {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.donate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .donate {
    display: block;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .donate {
    display: block;
    margin-bottom: 50px;
  }
}
.donate_title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .donate_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .donate_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
    margin-bottom: 10px;
  }
}
.donate_text {
  width: 955px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.72px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .donate_text {
    font-size: 14px;
    line-height: 18px;
    width: 553px;
  }
}
@media (max-width: 767px) {
  .donate_text {
    font-size: 14px;
    width: 90vw;
    line-height: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .fund {
    display: flex;
    justify-content: center;
  }
}
.fund_item {
  align-items: center;
  text-align: justify;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .fund_item {
    padding: 25px;
    width: 668px;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .fund_item {
    padding: 0;
    background-color: #fff;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .fund_img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .fund_img {
    width: 100%;
    height: 100%;
  }
}
.fund_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 347px;
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .fund_box {
    width: 173px;
    height: 173px;
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .fund_box {
    width: 130px;
    height: 130px;
    margin-right: 15px;
    margin-top: 7vh;
    margin-bottom: 0;
  }
}

.found {
  width: 414px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .found {
    width: 368px;
  }
}
@media (max-width: 767px) {
  .found {
    width: 200px;
  }
}
.found_title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .found_title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.88px;
  }
}
@media (max-width: 767px) {
  .found_title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
}
.found_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.72px;
  margin-bottom: 106px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .found_text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .found_text {
    font-size: 14px;
    font-variant-numeric: lining-nums proportional-nums;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 30px;
  }
}
.found_link {
  justify-content: center;
  display: flex;
  width: 100%;
  border-radius: 30px;
  background-color: #000;
  padding: 20px 100px;
  color: white;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .found_link {
    font-size: 12.265px;
    line-height: 15.61px;
    letter-spacing: -0.491px;
    text-transform: capitalize;
    padding: 11px 55px;
  }
}
@media (max-width: 767px) {
  .found_link {
    width: 85vw;
    padding: 16px 5px;
    margin-left: -37vw;
  }
}
.found_link:hover,
.found_link:focus {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .qr {
    display: none;
  }
}
@media (max-width: 767px) {
  .qr {
    display: none;
  }
} /*# sourceMappingURL=SupportUkraine.module.css.map */
