@import '../../styles//mixin';

$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;
.name {
  display: flex;
  justify-content: center;

  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-transform: uppercase;

  margin-bottom: 45px;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
  }
  @media (max-width: $small-screen) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.44px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  @media (max-width: $small-screen) {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
  li {
    cursor: pointer;
    margin-bottom: -5px;
  }
}
.teamMember {
  position: relative;
  list-style: none;
  cursor: pointer;

  .memberName {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 15px 15px;

    color: white;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: -4%;

    text-align: flex-start;
    transition: opacity 0.3s ease;

    @media (min-width: $medium-screen) and (max-width: 1439px) {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -4%;

      padding: 5px 10px;
      opacity: 1;
    }
    @media (max-width: $small-screen) {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -4%;

      padding: 10px 10px;
      opacity: 1;
    }
  }
}
.memberPrice {
  position: absolute;
  bottom: 0;
  left: 75%;

  width: 100%;
  padding: 15px 15px;

  color: white;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: -4%;

  text-align: flex-start;
  transition: opacity 0.3s ease;

  @media (min-width: $medium-screen) and (max-width: 1439px) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -4%;
    left: 66%;
    padding: 10px 5px;
    opacity: 1;
  }
  @media (max-width: $small-screen) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -4%;
    left: 60%;
    padding: 10px 5px;
    opacity: 1;
  }
}
.img {
  filter: brightness(65%);
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    width: 189px;
    height: 189px;
  }
  @media (max-width: $small-screen) {
    width: 160px;
    height: 160px;
  }
}
